@import url('__title/lead__title.css');
@import url('__subtitle/lead__subtitle.css');
@import url('__caption/lead__caption.css');
@import url('__image/lead__image.css');

.lead {
    max-width: 985px;
    min-width: 288px;
    margin: 0 auto 80px;
    font-family: 'Inter', Arial, sans-serif;   
}

@media screen and (max-width: 767px) {
    .lead {
        margin: 0 auto 64px;        
    }
}