@import url("__image/comment__image.css");
@import url("__quote/comment__quote.css");
@import url("__author/comment__author.css");

.comment {
    font-family: 'Inter', Arial, sans-serif;
    max-width: 382px;
    padding-right: 19px;    
}

.comment:last-child {
    padding-right: 0;    
}


@media screen and (max-width: 1023px) {
    .comment {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0;
    }   
}